@charset "UTF-8";
/* Animation for one property */
/* Animation for two properties */
/* mixin for card */
/* Сontent centering */
:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --text-color: #757575;
  --primary-logo-color: #000000;
  --secondary-logo-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: rgb(47, 48, 58);
  --opacity-bg: 47, 48, 58;
  --button-hover: #188ce8;
  --secondary-main-bg-color: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
}

/* Size between flex items */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*

Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  color: var(--primary-title-color);
  font-family: var(--primary-font-family);
}

body.menu-open {
  overflow: hidden;
}

/* =====START COMPONENTS===== */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
    letter-spacing: 0.06em;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17857;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subtitle__theme_light {
  color: var(--primary-title-color);
}

.subtitle__theme_dark {
  color: var(--secondary-title-color);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.header {
  position: relative;
  background-color: var(--primery-background-color);
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: -1;
  background-color: #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__logo {
  margin-right: 77px;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--primary-title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link_current {
  color: var(--accent-color);
}

.nav-list__link_current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contact-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header__contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .header__contact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19231;
    letter-spacing: 0.03em;
  }
}

.logo__theme_light {
  color: var(--primary-logo-color);
}

.logo__theme_dark {
  color: var(--secondary-logo-color);
}

.contact-list__link_theme_light {
  color: var(--text-color);
}

.contact-list__link_theme_dark {
  color: var(--secondary-title-color);
  opacity: 0.6;
}

.contact-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}

/* Mobile menu */
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--primary-background-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu.is-open {
    display: none;
  }
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}

.menu-btn:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  margin-bottom: 302px;
}

.mobile-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-list__link {
  color: inherit;
}

.mobile-nav-list__link_current {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobile-contats-list {
  margin-bottom: 64px;
}

.mobile-contats-list__item {
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
}

.mobile-contats-list__item:first-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17647;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contats-list__link {
  color: inherit;
}

.menu-socials-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-socials-list__item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
}

.menu-socials-list__item:not(:last-child) {
  margin-right: 9px;
  padding-right: 11px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials-list__link {
  color: var(--accent-color);
}

.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  font-family: var(--primary-font-family);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--button-hover);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--primary {
  background-color: transparent;
}

.social-list__link--primary:hover, .social-list__link--primary:focus {
  background-color: var(--accent-color);
}

.social-list__link--primary:hover .social-list__icon,
.social-list__link--primary:focus .social-list__icon {
  fill: var(--secondary-icon-color);
}

.social-list__link--secondary {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link--secondary:hover, .social-list__link--secondary:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--primary-icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--primary:hover .social-list__icon,
.social-list__link--primary:hover .social-list__icon {
  fill: var(--secondary-icon-color);
}

.social-list__link--secondary .social-list__icon {
  fill: var(--secondary-icon-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    padding-left: 61px;
  }
}

.footer_logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__description {
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__description {
    margin-bottom: 9px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer__contact-list__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__contact-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-container {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .social-networks {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-networks {
    margin-right: 93px;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
}

.footer-form-container {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-container {
    margin-left: 105px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__field {
  display: block;
}

@media screen and (max-width: 1199px) {
  .footer-form__field {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) {
  .footer-form__field {
    margin-right: 12px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__field {
    margin-right: 12px;
    width: 358px;
  }
}

.footer-form__input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form__input:focus {
  outline: none;
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.button__name {
  margin-right: 10px;
}

.footer-form__button__icon {
  fill: var(--secondary-icon-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-height: 796px) {
  .backdrop {
    padding-top: 93px;
    padding-bottom: 94px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: calc(100% - 30px);
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-height: 795px) {
  .modal {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-height: 796px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.contact-form__container {
  display: block;
  margin-top: 4px;
  position: relative;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__field_textarea {
  margin-bottom: 20px;
}

.contact-form__input_textarea {
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
}

.contact-form__input_textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input_textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input_textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input_textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .checkbox__field {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
  }
}

.checkbox__field::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.checkbox__input:focus + .checkbox__field::before {
  border-color: var(--accent-color);
}

.checkbox__input:checked:focus + .checkbox__field::before {
  background-color: var(--accent-color);
  background-image: url(../images/check_tick.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.license-link {
  color: var(--accent-color);
}

.contact-form .button {
  display: block;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: calc(-30px / 2);
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin: calc(30px / 2);
  }
}

.features-list__item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-main-bg-color);
}

.satellite-dish::before {
  background-image: url("../images/main-features/satellite-dish.svg");
}

.watches::before {
  background-image: url("../images/main-features/watches.svg");
}

.diagram::before {
  background-image: url("../images/main-features/diagram.svg");
}

.astronaut::before {
  background-image: url("../images/main-features/astronaut.svg");
}

.features-list__subtitle {
  margin-bottom: 10px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--opacity-bg), 0.4)), to(rgba(var(--opacity-bg), 0.4))), url(../images/hero-bg/mobile-hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(var(--opacity-bg), 0.4), rgba(var(--opacity-bg), 0.4)), url(../images/hero-bg/mobile-hero-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -o-object-fit: fill;
     object-fit: fill;
  background-color: #c4c4c4;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--opacity-bg), 0.4)), to(rgba(var(--opacity-bg), 0.4))), url(../images/hero-bg/mobile-hero-bg@2x.jpg);
    background-image: linear-gradient(to right, rgba(var(--opacity-bg), 0.4), rgba(var(--opacity-bg), 0.4)), url(../images/hero-bg/mobile-hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 481px) and (min-dvice-pixel-retio: 1), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 481px) and (min-resolution: 96dpi), screen and (min-width: 481px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--opacity-bg), 0.4)), to(rgba(var(--opacity-bg), 0.4))), url(../images/hero-bg/tablet-hero-bg.jpg);
    background-image: linear-gradient(to right, rgba(var(--opacity-bg), 0.4), rgba(var(--opacity-bg), 0.4)), url(../images/hero-bg/tablet-hero-bg.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--opacity-bg), 0.4)), to(rgba(var(--opacity-bg), 0.4))), url(../images/hero-bg/tablet-hero-bg@2x.jpg);
    background-image: linear-gradient(to right, rgba(var(--opacity-bg), 0.4), rgba(var(--opacity-bg), 0.4)), url(../images/hero-bg/tablet-hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 769px) and (min-dvice-pixel-retio: 1), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 769px) and (min-resolution: 96dpi), screen and (min-width: 769px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--opacity-bg), 0.4)), to(rgba(var(--opacity-bg), 0.4))), url(../images/hero-bg/desktop-hero-bg.jpg);
    background-image: linear-gradient(to right, rgba(var(--opacity-bg), 0.4), rgba(var(--opacity-bg), 0.4)), url(../images/hero-bg/desktop-hero-bg.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--opacity-bg), 0.4)), to(rgba(var(--opacity-bg), 0.4))), url(../images/hero-bg/desktop-hero-bg@2x.jpg);
    background-image: linear-gradient(to right, rgba(var(--opacity-bg), 0.4), rgba(var(--opacity-bg), 0.4)), url(../images/hero-bg/desktop-hero-bg@2x.jpg);
  }
}

.main-products {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .main-products {
    display: none;
  }
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: calc(-30px / 2);
}

.product-list__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin: calc(30px / 2);
}

.product-list__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(var(--opacity-bg), 0.8);
  color: var(--secondary-title-color);
}

.product-list__img {
  display: block;
}

.team {
  background-color: var(--secondary-main-bg-color);
}

@media screen and (min-width: 768px) {
  .employee-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: calc(-30px / 2);
  }
}

.employee-list__item {
  text-align: center;
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .employee-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .employee-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .employee-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin: calc(30px / 2);
  }
}

.employee-data {
  padding: 30px 32px;
}

.employee-data__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employee-data__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-30px / 2);
}

.client-list__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin: calc(30px / 2);
}

@media screen and (min-width: 768px) {
  .client-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin: calc(30px / 2);
  }
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 100%;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
}

.client-list__icon {
  fill: var(--primary-icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

.button-list-container {
  padding-bottom: 40px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-list__item {
  margin-bottom: 15px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  background-color: #f5f4fa;
  font-family: var(--primary-font-family);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover, .button-list__button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    margin: calc(-30px / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: calc(30px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin: calc(30px / 2);
  }
}

.portfolio-list__link {
  display: block;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-title-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover .overlay__description,
.portfolio-list__link:focus .overlay__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.meta-data {
  padding: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  background-color: var(--primery-background-color);
}

.meta-data__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.meta-data__type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */