.client-list {
  display: flex;
  flex-wrap: wrap;
  @include negativeListMargin();
}

.client-list__item {
  @include itemSize(2);
  @media screen and (min-width: 768px) {
    @include itemSize(3);
  }
  @media screen and (min-width: 1200px) {
    @include itemSize(6);
  }
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  @include animation(border);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.client-list__icon {
  fill: var(--primary-icon-color);
  @include animation(fill);
  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: var(--accent-color);
  }
}
