.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  border: 1px solid #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  text-align: center;
}
