.hero {
  max-width: 1600px;
  @include contentCenter();
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(var(--opacity-bg), 0.4),
      rgba(var(--opacity-bg), 0.4)
    ),
    url(../../images/hero-bg/mobile-hero-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: fill;
  background-color: #c4c4c4;
  text-align: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(var(--opacity-bg), 0.4),
        rgba(var(--opacity-bg), 0.4)
      ),
      url(../../images/hero-bg/mobile-hero-bg@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    @media (min-dvice-pixel-retio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(
          to right,
          rgba(var(--opacity-bg), 0.4),
          rgba(var(--opacity-bg), 0.4)
        ),
        url(../../images/hero-bg/tablet-hero-bg.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(var(--opacity-bg), 0.4),
          rgba(var(--opacity-bg), 0.4)
        ),
        url(../../images/hero-bg/tablet-hero-bg@2x.jpg);
    }
  }
  @media screen and (min-width: 769px) {
    @media (min-dvice-pixel-retio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(
          to right,
          rgba(var(--opacity-bg), 0.4),
          rgba(var(--opacity-bg), 0.4)
        ),
        url(../../images/hero-bg/desktop-hero-bg.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(var(--opacity-bg), 0.4),
          rgba(var(--opacity-bg), 0.4)
        ),
        url(../../images/hero-bg/desktop-hero-bg@2x.jpg);
    }

    padding-top: 200px;
    padding-bottom: 200px;
  }
}
