.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include negativeListMargin();
  }
}

.features-list__item {
  @media screen and (min-width: 768px) {
    @include itemSize(2);
  }
  @media screen and (min-width: 1200px) {
    @include itemSize(4);
  }

  &::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-main-bg-color);
  }
}

@each $icon in satellite-dish, watches, diagram, astronaut {
  .#{$icon}::before {
    background-image: url('../images/main-features/#{$icon}.svg');
  }
}

.features-list__subtitle {
  margin-bottom: 10px;
}
