.main-products {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.product-list {
  display: flex;
  @include negativeListMargin();
}

.product-list__item {
  position: relative;
  @include itemSize(3);
}

.product-list__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(var(--opacity-bg), 0.8);

  color: var(--secondary-title-color);
}

.product-list__img {
  display: block;
}
