.team {
  background-color: var(--secondary-main-bg-color);
}

.employee-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.employee-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  text-align: center;
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee-list__img {
  display: block;
}

.employee-data {
  padding: 30px 32px;
}

.employee-data__name {
  @include font(500, 16px, 19px, 0.03em);
  margin-bottom: 10px;
}

.employee-data__position {
  color: var(--text-color);
  @include font(400, 16px, 19px, 0.03em);
  margin-bottom: 10px;
}
