.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @include font(700, 16px, 30px, 0.06em);

  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  font-family: var(--primary-font-family);
  @include animation(background-color);
  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}
