.contact-list__link_theme_light {
  color: var(--text-color);
}

.contact-list__link_theme_dark {
  color: var(--secondary-title-color);
  opacity: 0.6;
}

.contact-list__link {
  @include animation(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
