.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  @include font(700, 26px, 31px, 0.03em);
}

.logo__theme_light {
  color: var(--primary-logo-color);
}

.logo__theme_dark {
  color: var(--secondary-logo-color);
}
