.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  @include animation(background-color);
}

.social-list__link_theme_light {
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: var(--secondary-icon-color);
  }
}

.social-list__link_theme_dark {
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: var(--primary-icon-color);
  @include animation(fill);

  .social-list__link--primary:hover &,
  .social-list__link--primary:hover & {
    fill: var(--secondary-icon-color);
  }

  .social-list__link_theme_dark & {
    fill: var(--secondary-icon-color);
  }
}
