.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  color: var(--primary-title-color);

  font-family: var(--primary-font-family);

  &.modal-open {
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  body.menu-open {
    overflow: hidden;
  }
}

/* =====START COMPONENTS===== */

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
