:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --text-color: #757575;
  --primary-logo-color: #000000;
  --secondary-logo-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-hover: #188ce8;
  --secondary-main-bg-color: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
}
